@model FrontEnd.Models.ReservaViewModel

@{
    ViewData["Title"] = "Editar reserva";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
    </div>
</section><!-- End Breadcrumbs -->
</main><!-- End #main -->

<h1>Editar reserva</h1>

<h4>Reserva: @Html.DisplayFor(model => model.IdReserva)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdReserva" class="control-label"></label>
                <input asp-for="IdReserva" class="form-control" />
                <span asp-validation-for="IdReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantDias" class="control-label"></label>
                <input asp-for="CantDias" class="form-control" />
                <span asp-validation-for="CantDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioTotal" class="control-label"></label>
                <input asp-for="PrecioTotal" class="form-control" />
                <span asp-validation-for="PrecioTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cabina" class="control-label"></label>
                <input asp-for="Cabina" class="form-control" />
                <span asp-validation-for="Cabina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actividad" class="control-label"></label>
                <input asp-for="Actividad" class="form-control" />
                <span asp-validation-for="Actividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
