<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Contáctenos</title>
</head>
<body>
    <div>

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">
                </div>
            </section><!-- End Breadcrumbs -->

        </main><!-- End #main -->
        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Nuestros precios</h2>
                    <p>El precio necesario para su bolsillo sin perder la calidad que nos caracteriza</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box">
                            <h3>Actividad Surf básico</h3>
                            <h4><sup>$</sup>30<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 3 personas</li>
                                <li><i class="bx bx-check"></i> Equipo disponible</li>

                            </ul>
                            <a href="#" class="buy-btn-basic">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box featured">
                            <h3>Plan calbagata</h3>
                            <h4><sup>$</sup>50<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 5 personas</li>
                                <li><i class="bx bx-check"></i> Equipo disponible</li>

                            </ul>
                            <a href="#" class="buy-btn-premium">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <h3>Plan Crafting</h3>
                            <h4><sup>$</sup>80<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 7 personas</li>
                                <li><i class="bx bx-check"></i> Materiales disponibles</li>
                            </ul>
                            <a href="#" class="buy-btn-business">Get Started</a>
                        </div>
                    </div>

                </div>

            </div>


        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box">
                            <h3>Actividad Buceo</h3>
                            <h4><sup>$</sup>150<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 8 personas</li>
                                <li><i class="bx bx-check"></i> Equipo y guía disponible</li>

                            </ul>
                            <a href="#" class="buy-btn-basic">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box featured">
                            <h3>Plan Caminata al amanecer</h3>
                            <h4><sup>$</sup>50<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 15 personas</li>
                                <li><i class="bx bx-check"></i> Guía disponible</li>

                            </ul>
                            <a href="#" class="buy-btn-premium">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <h3>Plan Jet ski</h3>
                            <h4><sup>$</sup>180<span>por pareja</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 6 personas</li>
                                <li><i class="bx bx-check"></i> Disponibilidad limitada </li>
                            </ul>
                            <a href="#" class="buy-btn-business">Get Started</a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Pricing Section -->

    </div>
</body>
</html>
