@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
    </div>
</section><!-- End Breadcrumbs -->
        </main><!-- End #main -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>Servicio de hospedaje en Playa Banca de Santa Cruz, Guanacaste.</h1>
                <h2>Arena blanca, aguas cristalinas.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Ver más</a>
                    <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
                </div>
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- ======= Cta Section ======= -->

<div class="card">
    <img class="card-img" src="~/img/p1.png" alt="Card image">
</div>

<!-- End Cta Section -->
<!-- ======= Galería Section =======

    REVISAR POR QUÉ ESTA WEA NO FUNCIONA ANTES DE QUE ME MATE PRIMERO :D
    EN FIN, HAY FE DE QUE ENCUENTRE QUÉ ES ANTES DE LA ENTREGA FINAL :3

-->
<!--<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading-section mb-5">Carousel #03</h2>
    </div>
            <div class="col-md-12">
                <div class="featured-carousel">
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-end justify-content-center" style="background-image: url(assets/img/work-4);">
                                <div class="text w-100">
                                    <span class="cat">Web Design</span>
                                    <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
      </div>
      </div>
      </div>
    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-end justify-content-center" style="background-image: url(assets/img/work-1);">
                                <div class="text w-100">
                                    <span class="cat">Web Design</span>
                                    <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-end justify-content-center" style="background-image: url(assets/img/work-1);">
                                <div class="text w-100">
                                    <span class="cat">Web Design</span>
                                    <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-end justify-content-center" style="background-image: url(assets/img/work-1);">
                                <div class="text w-100">
                                    <span class="cat">Web Design</span>
                                    <h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- End Galería Section -->
<!-- ======= card Section ======= -->
<section id="skills" class="skills">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <img src="~/img/imgcabina.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>¡Tus mejores vacaciones!</h3>
                <p class="fst-italic">
                    Vení a celebrar con nosotros tus vacaciones y relajáte en las bellas playas de Guanacaste con tus seres queridos.
                </p>

                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                        <div class="d-flex justify-content-center justify-content-lg-start">
                            <a href="#about" class="btn-learn-more">Ver más</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section><!-- End card Section -->

<!-- ======= Card Section ======= -->

<section id="why-us" class="why-us section-bg">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">
                    <h3>Conocé más <strong>de nosotros:</strong></h3>
                    <p>
                        Más sobre nuestros servicios, qué ofrecemos, nustras ofertas y promociones, te esperámos.
                    </p>

                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                            <div class="d-flex justify-content-center justify-content-lg-start">
                                <a class="nav-link"> @Html.ActionLink("Sobre Nosotros", "About", "Home") </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/img/imgping.png")' >&nbsp;</div>
        </div>

    </div>

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
        </div>
    </section><!-- End Breadcrumbs -->
    </main><!-- End #main -->

</section><!-- End Card Section -->

<!-- ======= Cta Section ======= -->

<div class="card">
    <img class="card-img" src="~/img/p1.png" alt="Card image">
</div>

<!-- ======= card Section ======= -->
<section id="skills" class="skills">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <img src="~/img/imgnina.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>¡Ofertas con nosotros!</h3>
                <p class="fst-italic">
                    Para este verano les tenemos una tarifa muy accesible. $35 por noche por persona con el desayuno incluído. ¡Los atardeceres y las playas de arena blanca se incluyen en el paquete!
                </p>

                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                        <div class="d-flex justify-content-center justify-content-lg-start">
                            <a href="#about" class="btn-learn-more">Ver más</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section><!-- End card Section -->

<!-- End Cta Section -->


