@{
    ViewBag.Title = "Precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Precios</title>
</head>
<body>
    <div>

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">
                </div>
            </section><!-- End Breadcrumbs -->

        </main><!-- End #main -->
        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Nuestros precios</h2>
                    <p>El precio necesario para su bolsillo sin perder la calidad que nos caracteriza</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box">
                            <h3>Plan básico</h3>
                            <h4><sup>$</sup>120<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 3 personas</li>
                                <li><i class="bx bx-check"></i> Amenidades disponibles</li>
                                <li><i class="bx bx-check"></i> Acceso a parqueo</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Acceso directo a la playa</span></li>
                                <li class="na"><i class="bx bx-x"></i> <span>Servicio de reserva</span></li>
                            </ul>
                            <a href="#" class="buy-btn-basic">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box featured">
                            <h3>Plan Premium</h3>
                            <h4><sup>$</sup>150<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 5 personas</li>
                                <li><i class="bx bx-check"></i> Amenidades disponibles</li>
                                <li><i class="bx bx-check"></i> Acceso a parqueo</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Acceso directo a la playa</span></li>
                                <li class="na"><i class="bx bx-x"></i> <span>Servicio de reserva</span></li>
                            </ul>
                            <a href="#" class="buy-btn-premium">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <h3>Plan Business</h3>
                            <h4><sup>$</sup>225<span>por persona</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Disponible para 7 personas</li>
                                <li><i class="bx bx-check"></i> Amenidades disponibles</li>
                                <li><i class="bx bx-check"></i> Acceso a parqueo en sombra</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Acceso directo a la playa con sombrilla</span></li>
                                <li class="na"><i class="bx bx-x"></i> <span>Servicio de reserva incluído</span></li>
                            </ul>
                            <a href="#" class="buy-btn-business">Get Started</a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Pricing Section -->


    </div>
</body>
</html>


