@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Iniciar sesión</title>
</head>
<body>
    <div>

        <!-- ======= Reg Section ======= -->
        <section id="pricing" class="pricing">

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="box featured">
                            <div class="card-body">
                                <div class="section-title">
                                    <h2>Registrarse</h2>
                                    <p>Registrate formar parte de nosotros :D</p>
                                </div>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputFirstName">Nombre</label>
                                            <input type="text" class="form-control" id="inputFirstName" placeholder="Ingresa tu nombre">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputLastName">Apellido</label>
                                            <input type="text" class="form-control" id="inputLastName" placeholder="Ingresa tu apellido">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Dirección</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="Ingresa tu dirección">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputPhoneNumber">Número telefónico</label>
                                            <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Ingresa tu número telefónico">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail">Correo electrónico</label>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Ingresa tu correo electrónico">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputUsername">Nombre de usuario</label>
                                        <input type="text" class="form-control" id="inputUsername" placeholder="Ingresa tu nombre de usuario">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Contraseña</label>
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Ingresa tu contraseña">
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="agreeToTerms">
                                        <label class="form-check-label" for="agreeToTerms">Acepto los términos y condiciones</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Registrarse</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Reg Section -->


    </div>
</body>
</html>


